h1{
    color:orange;
    font-style:castellar;
    border-style:solid;
    background-image:url('flow.jpg');background-repeat:no-repeat;background-width:50%;
    text-decoration:underline;
    border-width:thick;
   }